/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
	--blue: #0f162d;
	--violet: #ca59ff;
	--dark-violet: #6c7cff;
	--aqua: #2affff;
	--yelow: #fff629;
	--white: #ffffff;
	--black: #000;
	--dark-blue: #272d42;
}
